

<section class="section">
    <h1 class="title is-1">Full-Stack Engineer</h1>
    <h2 class="subtitle">
      A simple container to divide your page into <strong>sections</strong>, like
      the one you're currently reading.
    </h2>

    <div class="block">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam, sint eum quis provident debitis perferendis. Eveniet, pariatur quidem! Dolorum aliquid deleniti dolores aspernatur veniam fuga commodi quo rem ex odit.
    </div>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, porro temporibus voluptates vero possimus aut, facere mollitia consectetur quod beatae earum, optio molestiae? Nam eligendi, sint veritatis amet esse in.
  </section>